@import '~bootstrap/scss/bootstrap.scss';
.noVisible {
    max-height: 0;
    overflow: hidden;
}
.Visible{
    max-height: 200px;
    transition: max-height 0.5s cubic-bezier(.525, .66, .495, 1.4);
}